@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 */

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .Section-07 {}
}

@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .Section-07 {
        .c-wrapper {
            padding: 80px;
            .picture-02 {
                position: absolute;
                >.bg-image {
                    width: 1140px;
                    background: #FCFAFF;
                    border: 1px solid #D6BCFA;
                    box-shadow: 0px 0px 20px rgba(128, 90, 213, 0.2), inset 0px 0px 50px #F8E0FA;
                    border-radius: 60px;
                }
            }
            .c-item {
                width: 1140px;
                text-align: center;
                justify-content: center;
                padding-top: 117px;
                .c-item-01 {
                    margin-bottom: 16px;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 64px;
                    text-align: center;
                    color: #000000;
                }
                .c-item-02 {
                    margin-bottom: 32px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #532C59;
                }
                .c-item-03 {
                    width: 156px;
                    height: 52px;
                    background: #532C59;
                    border-radius: 15px;
                    a {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

@media all and (min-width: #{$mq-md + "px"}) {}