@import "../../../Base/Global.scss";
@import "../../../Base/Colour.scss";

/* Common xs1, xs2 */

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .Micro-Other-03 {
        padding: 24px;
        border: 1px solid #D6BCFA;
        border-radius: 15px;
        .c-unit-02 {
            display: flex;
            .c-unit {
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                color: #000000;
                opacity: 0.8;
            }
            >a {
                >svg {
                    transition: transform 0.3s;
                }
            }
        }
        .c-unit-01 {
            margin-top: 10px;
            display: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #532C59;
        }
        &.on {
            a {
                svg {
                    transform: rotate(180deg);
                }
            }
            .c-unit-01 {
                display: block;
            }
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .Micro-Other-03 {
        padding: 24px;
        border: 1px solid #D6BCFA;
        border-radius: 15px;
        .c-unit-02 {
            display: flex;
            .c-unit {
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                color: #000000;
                opacity: 0.8;
            }
            >a {
                >svg {
                    transition: transform 0.3s;
                }
            }
        }
        .c-unit-01 {
            margin-top: 10px;
            display: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #532C59;
        }
        &.on {
            a {
                svg {
                    transform: rotate(180deg);
                }
            }
            .c-unit-01 {
                display: block;
            }
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

@media all and (min-width: #{$mq-md + "px"}) {
    .Micro-Other-03 {
        padding: 24px;
        border: 1px solid #D6BCFA;
        border-radius: 15px;
        .c-unit-02 {
            display: flex;
            .c-unit {
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                color: #000000;
                opacity: 0.8;
            }
            >a {
                >svg {
                    transition: transform 0.3s;
                }
            }
        }
        .c-unit-01 {
            margin-top: 10px;
            display: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #532C59;
        }
        &.on {
            a {
                svg {
                    transform: rotate(180deg);
                }
            }
            .c-unit-01 {
                display: block;
            }
        }
    }
}