*,
*::before,
*::after {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: 0;
  text-rendering: optimizeLegibility;
}

blockquote {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main,
header,
aside,
img {
  display: block;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield !important;
  /* Firefox */
}

hr {
  height: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #F0F0F0;
}

.c-wrapper {
  margin: 0 auto;
}

/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .c-wrapper {
    width: calc(100% - 32px);
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .c-wrapper {
    width: 760px;
  }
}
@media all and (min-width: 1320px) {
  .c-wrapper {
    width: 1300px;
  }
}
/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .Section-01 {
    height: 468px;
    overflow: hidden;
  }
  .Section-01 .picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .Section-01 .picture .bg-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Section-01 .c-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    width: 288px;
  }
  .Section-01 .c-wrapper .b-item {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
  }
  .Section-01 .c-wrapper .b-item-01 {
    margin-bottom: 16px;
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
  }
  .Section-01 .c-wrapper .b-item-02 {
    padding: 12px;
    background: #532C59;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .Section-01::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
    filter: blur(116px);
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .Section-01 {
    height: 468px;
    overflow: hidden;
  }
  .Section-01 .picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .Section-01 .picture .bg-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Section-01 .c-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    width: 856px;
  }
  .Section-01 .c-wrapper .b-item {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
  }
  .Section-01 .c-wrapper .b-item-01 {
    margin-bottom: 32px;
    width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
  }
  .Section-01 .c-wrapper .b-item-02 {
    padding: 16px;
    background: #532C59;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .Section-01::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
    filter: blur(116px);
  }
}
@media all and (min-width: 1320px) {
  .Section-01 {
    height: 574px;
    overflow: hidden;
  }
  .Section-01 .picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .Section-01 .picture .bg-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Section-01 .c-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 117px 0;
    width: 856px;
  }
  .Section-01 .c-wrapper .b-item {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
  }
  .Section-01 .c-wrapper .b-item-01 {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
  }
  .Section-01 .c-wrapper .b-item-02 {
    padding: 16px;
    background: #532C59;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .Section-01::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
    filter: blur(116px);
  }
}
/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .header-01 {
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
    height: 76px;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-01 .c-wrapper .hamb {
    display: flex;
    position: absolute;
    left: 0;
    top: 26px;
  }
  .header-01 .c-wrapper .a-item {
    display: none;
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .header-01 {
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
    height: 76px;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-01 .c-wrapper .hamb {
    display: flex;
    position: absolute;
    left: 0;
    top: 26px;
  }
  .header-01 .c-wrapper .a-item {
    display: none;
  }
}
/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: 1320px) {
  .header-01 {
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
    height: 76px;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-01 .c-wrapper .hamb {
    display: none;
  }
  .header-01 .c-wrapper .a-item .level-01 {
    display: flex;
    justify-content: space-between;
  }
  .header-01 .c-wrapper .a-item .level-01 > li:not(:last-child) {
    margin-right: 8px;
  }
  .header-01 .c-wrapper .a-item .level-01 > li > a {
    display: flex;
    align-items: center;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .header-01 .c-wrapper .a-item .level-01 > li > a:hover {
    opacity: 1;
  }
  .header-01 .c-wrapper .a-item .level-01 > li .level-02 {
    visibility: hidden;
    position: absolute;
    background-color: #FFF;
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 10px;
    width: 130px;
    padding: 20px;
  }
  .header-01 .c-wrapper .a-item .level-01 > li .level-02 li a {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .header-01 .c-wrapper .a-item .level-01 > li .level-02 li a:hover {
    opacity: 1;
  }
  .header-01 .c-wrapper .a-item .level-01 > li .level-02 li:not(:last-child) {
    margin-bottom: 5px;
  }
  .header-01 .c-wrapper .a-item .level-01 > li:hover .level-02 {
    visibility: visible;
  }
}
/* Common xs1, xs2 mobil*/
/* Common sm1, sm2 tablet */
/* Common  md, lg, xl, xxl desktop*/
@font-face {
  font-family: "Syne";
  src: url("./Fonts/Syne-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Syne";
  src: url("./Fonts/Syne-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: "Syne";
  font-size: 100%;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=Base.css.map */